# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Secrets
.env

# Project specific
compressed_storage/
video_processed/
processed_frames/
alerts/
models/*.pt
models/*.onnx
*.mp4
*.mkv
*.avi
*.log

# IDEs
.vscode/
.idea/
.DS_Store
